body {
    background: #f5f7fb;
}

.card {
    border: none;
    border-radius: 14px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}

.btn-main {
    background: #4a5cf8;
    color: white;
    font-weight: 500;
    border-radius: 8px;
}

.btn-main:hover {
    background: #3344d2;
}

.whiteboard-wrapper {
  background: linear-gradient(145deg, #0e2210, #0e2210);
  border-radius: 14px;
  padding: 12px;
  box-shadow:
    inset 0 0 15px rgba(0,0,0,0.12),
    0 8px 18px rgba(0,0,0,0.15);
}

.whiteboard-toolbar {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 8px;
}

#whiteboard {
  width: 100%;
  height: 400px;
  background: #54b99b;
  border-radius: 12px;
  cursor: crosshair;
}

.shapes-menu {
  position: absolute;
  background: #cf75b4;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  gap: 6px;
  z-index: 1000;
}

.shapes-menu button {
  background: #cf75b4;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.shapes-menu button:hover {
  background: #cf75b4;
}

.hidden {
  display: none;
}
