body {
    background: #f5f7fb;
}

.card {
    border: none;
    border-radius: 14px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}

.btn-main {
    background: #4a5cf8;
    color: white;
    font-weight: 500;
    border-radius: 8px;
}

.btn-main:hover {
    background: #3344d2;
}
